header {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;

    padding: .77rem;
    background-color: #010c3f;
}

header div {
    display: flex;
    /*max-width: 33.333%;*/
    /*flex: 0 0 33.333%;*/
}

h1 {
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 1.88rem;
    color: #fff;
}

h1 .highlight {
    color: #6c41ec;
}